@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dimension Data</h1>  
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Dimension Data</h2>
        <p>
            This application is aimed allowing employees
            who work in the manufacturing industry in Organisation X
            to retrieve and maintain their data.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Structure Patterns</h2>
        <p>
            This application was built using MVC design pattern
            a combination of Model-View-Controller UI layer along
            with the data access patterns(Database).
        </p>
    </div>
    <div class="col-md-4">
        <h2>Accelerate your Ambition</h2>
        <div class=" image">
            <a href=""> <img src="dimensionslogo.png" alt="dimepic" width="500" height="600"></a>
        </div>
    </div>

</div>