@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dimension Data</h1>  
</div>
<div class="flex-column">
    <div class="col-md-4">
        <h2>Welocme to Dimension Data</h2>
        <p>


        </p>
    </div>

</div>